
<form name="calculateForm">
Calculate, <el class='dividend-value'/> divided by <input type="number" id="inputNumber" required placeholder="Please enter a number">
</form>

<button id='sendButton'>Calculate</button>
<p/>

<el id="result"></el>