
<div class="main-menu-container "></div>
<div class="clear"></div>

<p></p>
<button onclick="window.location.href='#sendMessage'">Show Message</button>
<button onclick="window.location.href='#calculate'">Calculate Number</button>
<button onclick="window.location.href='#daysOfWeek'">Next 7 Days</button>
<button onclick="window.location.href='#showStores'">Show Stores</button>
<p></p>

<div class="content "></div>
<p></p>

<div class="footer "></div>
